<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header>
            <div id="header-div">
                <div>
                    <input type="checkbox" name="menu" id="checkbox-menu" />
                </div>
                <div class="header-options">
                    <div>Receitas</div>
                    <div>Tipos</div>
                    <div>Envie sua receita</div>
                </div>
                <div id="header-logo"></div>
                <div class="header-options">
                    <div>Perfil</div>
                    <div>Lupa</div>
                </div>
            </div>
        </header>
    </body>
</html>
