<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header>
            <div id="header-div">
                <div id="div-menu-bars">
                    <input
                        id="menu-bars"
                        type="checkbox"
                        name="menu"
                        id="checkbox-menu"
                    />
                    <div id="header-logo-menu">
                        <img
                            src="../../public/imagens/Comida_caseira_Logo_laranja__3_-removebg-preview 2.png"
                            alt="Logo do Receiba"
                        />
                    </div>
                </div>
                <div class="header-options">
                    <div>Receitas</div>
                    <div>Tipos</div>
                    <div>Envie sua receita</div>
                </div>
                <div id="header-logo">
                    <img
                        src="../../public/imagens/Comida_caseira_Logo_laranja__3_-removebg-preview 2.png"
                        alt="Logo do Receiba"
                    />
                </div>
                <div class="header-options">
                    <div>Perfil</div>
                    <div>
                        <svg
                            width="22"
                            height="25"
                            viewBox="0 0 22 25"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M15.7233 15.4742H14.7296L14.3774 15.1166C15.6101 13.6067 16.3522 11.6465 16.3522 9.5142C16.3522 4.75947 12.6918 0.905365 8.1761 0.905365C3.66038 0.905365 0 4.75947 0 9.5142C0 14.2689 3.66038 18.123 8.1761 18.123C10.2013 18.123 12.0629 17.3416 13.4969 16.0437L13.8365 16.4145V17.4608L20.1258 24.0697L22 22.0963L15.7233 15.4742ZM8.1761 15.4742C5.04402 15.4742 2.51572 12.812 2.51572 9.5142C2.51572 6.21635 5.04402 3.55424 8.1761 3.55424C11.3082 3.55424 13.8365 6.21635 13.8365 9.5142C13.8365 12.812 11.3082 15.4742 8.1761 15.4742Z"
                                fill="#F3FAFE"
                            />
                        </svg>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>
