* {
    margin: 0;
    padding: 0;
    --text: #0d0402;
    --background: #fefcfb;
    --primary: #de702b;
    --secondary: #deed87;
    --accent: #bae65b;
}

/* Inicio do header */
header {
    background-color: var(--text);
    color: #c4c4c4;
}

#header-div {
    margin: 0 20%;
    padding: 1% 0 1.5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.header-options {
    font-size: medium;
    display: flex;
    align-items: center;
    flex: 1;
}

#header-logo {
    flex: 1;
}

.header-options > div {
    flex: 1;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: transparent;
    /* Not removed via appearance */
    margin: 0;
}

#div-menu-bars {
    display: none;
}

@media (max-width: 600px) {
    #header-logo {
        display: none;
    }

    #header-div {
        margin: 0 10%;
        padding: 5% 0;
        flex-direction: column;
        align-items: flex-start;
    }

    #header-div:has(input#menu-bars[type="checkbox"]:checked)
        > .header-options {
        display: none;
    }

    #div-menu-bars {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input#menu-bars[type="checkbox"] {
        appearance: none;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 2rem;
        height: 2rem;
        transform: translateY(-0.075em);
        transform: rotate(90deg);
        transition: 0.5s;
        content: url(../../public/svgs/menubars.svg);
    }

    input#menu-bars[type="checkbox"]:checked {
        transform: rotate(0deg);
    }

    .header-options {
        font-size: larger;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-options > div {
        margin-top: 1rem;
    }
}

/* Final do header */
