* {
    --brown: #905936;
    --verde_claro: #deed87;
    --white: #fefcfb;
    --black: #424242;
    --verde: #bae65b;
    --text: #0d0402;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 5% 10%;
  }
  
  .cartao {
    width: 300px;
  }
  
  i{
      cursor: pointer;
      right: 5%;
  }
  
  #conectese {
    background-color: var(--verde_claro);
  }
  
  .form {
    padding: 10px 0 50px 0;
    background-color: var(--white);
  }

  