* {
    margin: 0;
    padding: 0;
    --text: #0d0402;
    --background: #fefcfb;
    --primary: #de702b;
    --secondary: #deed87;
    --accent: #bae65b;
    --background2: #8aa451;
    --tertiary: #bae65b;
  }
  
  
  
  body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background2);
  }
  
  /* Inicio do header */
  header {
    background-color: var(--text);
    color: #c4c4c4;
  }
  
  #header-div {
    margin: 0 20%;
    padding: 1% 0 1.5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .header-options {
    font-size: medium;
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  #header-logo {
    flex: 1;
  }
  
  .header-options > div {
    flex: 1;
  }
  
  .header-options > div > a {
    text-decoration: none;
    color: #c4c4c4;
  }
  
  .header-options > div > a:link {
    color: #c4c4c4;
  }
  .header-options > div > a:visited {
    color: #c4c4c4;
  }
  
  .header-options > div > a:hover {
    color: var(--primary);
  }
  
  input#menu-bars[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: transparent;
    /* Not removed via appearance */
    margin: 0;
  }
  
  #div-menu-bars {
    display: none;
  }
  
  @media (max-width: 600px) {
    #header-logo {
      display: none;
    }
  
    #header-div {
      margin: 0 10%;
      padding: 5% 0;
      flex-direction: column;
      align-items: flex-start;
    }
  
    #header-div:has(input#menu-bars[type="checkbox"]:checked) > .header-options {
      display: none;
    }
  
    #div-menu-bars {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .receita a {
      text-decoration: none; /* Remove o sublinhado */
      color: white; /* Define a cor do texto como branco */
    }
  
    a {
      text-decoration: none;
      color: black; /* ou a cor que você deseja */
  }
  
    input#menu-bars[type="checkbox"] {
      appearance: none;
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 2rem;
      height: 2rem;
      transform: translateY(-0.075em);
      transform: rotate(90deg);
      transition: 0.5s;
      content: url(../../public/svgs/menubars.svg);
    }
  
    input#menu-bars[type="checkbox"]:checked {
      transform: rotate(0deg);
    }
  
    .header-options {
      font-size: larger;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .header-options > div {
      margin-top: 1rem;
    }
  }
  
  /* Final do header */
  
  section {
    margin: 2.5% 20%;
  }
  
  #ache-aqui {
    background-color: var(--tertiary);
    padding: 4% 8%;
    border-radius: 15px;
    font-size: 180%;
    position: relative;
    z-index: 1;
  }
  
  #encontre-receita {
    display: flex;
    margin-top: -2%;
    gap: 3%;
  }
  
  #lista-receita {
    background-color: var(--background);
    padding: 4% 8%;
    flex: 50;
    border-radius: 0 0 15px 15px;
  }
  
  .lista-categoria {
    display: flex;
    flex-direction: column;
    gap: 3%;
    margin-bottom: 5%;
  }
  
  .receita {
    width: 90%;
    display: flex;
    border-radius: 15px;
    margin-bottom: 3%;
  }
  
  .receita-info {
    background-color: var(--primary);
    width: 100%;
    border-radius: 15px 0 0 15px;
    padding: 3% 4%;
    display: flex;
    flex-direction: column;
  }
  
  .receita-info > h3 {
    margin-bottom: 1%;
  }
  .receita-info > p {
    margin-bottom: 4%;
  }
  
  .tempo-porção {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    text-align: center;
  }
  
  #correção {
    margin-top: -4%;
  }
  
  .receita-img {
    flex: 60%;
    display: flex;
  }
  
  .receita-img > img {
    width: 100%;
    border-radius: 0 15px 15px 0;
    object-fit: cover;
  }
  
  #encontre-receita > div:last-child {
    margin-top: 4%;
    flex: 35;
  }
  
  #filtro {
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    top: 3%;
  }
  
  #filtrar-por-tipo {
    background-color: #0d0402ca;
    color: var(--background);
    padding: 3% 5%;
    border-radius: 15px 15px 0 0;
  }
  
  #pesquisar {
    background: var(--background);
    display: flex;
    justify-content: center;
  }
  
  input[type="text"] {
    padding: 10px 12px;
    border: solid 2px black;
    border-radius: 15px;
    margin: 2% 1%;
    width: 70%;
  }
  
  #marcadores {
    color: var(--text);
    background-color: var(--background);
    display: flex;
    padding: 0% 5%;
    padding-bottom: 2%;
    border-radius: 0 0 15px 15px;
  
    flex-wrap: wrap;
    align-items: center;
  }
  
  .opção {
    font-weight: bold;
    display: flex;
    gap: 3%;
    margin-top: 2%;
    flex-basis: 50%;
    align-items: center;
  }
  
  @media (max-width: 1226px) {
    #marcadores {
      flex-direction: column;
      align-items: normal;
    }
  }
  
  @media (max-width: 900px) {
    section {
      margin: 2.5% 5%;
    }
  }
  
  @media (max-width: 700px) {
    #encontre-receita {
      flex-direction: column-reverse;
    }
  
    #filtro {
      margin-bottom: 2%;
    }
  
    #lista-receita {
      border-radius: 15px;
    }
  
    #marcadores {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  
    .opção {
      display: flex;
      gap: 3%;
      flex-basis: 50%;
    }
  }
  
  @media (max-width: 580px) {
    #ache-aqui > h1 {
      font-size: 2rem;
      text-align: center;
    }
  }
  
  footer {
    background-color: var(--text);
    color: #c4c4c4;
  }
  
  #footer-div {
    margin: 0 20%;
    padding: 1% 0 1.5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  #footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #footer-sociais {
    margin-top: 5%;
    display: flex;
    align-items: center;
    gap: 5%;
  }
  
  @media (max-width: 900px) {
    #footer-div {
      margin: 0 10%;
    }
  }
  
  @media (max-width: 650px) {
    #footer-div {
      gap: 20%;
    }
  }