* {
    margin: 0;
    padding: 0;
    --text: #0d0402;
    --background: #fefcfb;
    --primary: #de702b;
    --secondary: #deed87;
    --accent: #bae65b;
  }
  
  body {
    font-family: "DM Sans", sans-serif;
    background-color: #9fa86b;
    overflow-x: hidden;
  }
  
  .cozinheiros {
    z-index: -1;
    width: 60%;
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: -5%;
  }
  
  .vetor1 {
    width: 70%;
    position: absolute;
    top: 15%;
    left: -20%;
    z-index: -2;
  }
  
  .vetor2 {
    width: 70%;
    position: absolute;
    right: -20%;
    top: 50%;
    bottom: 50%;
    z-index: -2;
    max-width: 100%;
  }
  
  .imgs {
    width: 100%;
  }
  
  .conteudo {
    width: 35%;
    margin: 10% 55% 25% 55%;
    color: var(--background);
  }
  
  h1 {
    margin-bottom: 10px;
    color: var(--accent);
  }
  
  p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2px;
  }
  
  button {
    display: flex;
    text-align: center;
    border: none;
    margin-top: 25px;
    color: var(--background);
    background-color: var(--accent);
    padding: 8px 8px 8px 15px;
    border-radius: 30px;
  }
  
  button img {
    margin: auto 0px auto 8px;
    width: 30px;
  }
  
  button h2 {
    margin: auto 0px auto 0px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  @media (max-width: 840px) {
    .cozinheiros {
      display: none;
    }
  
    .conteudo {
      position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50%;
    }
  
    .vetor2 {
      top: 40%;
      bottom: 20%;
    }
  }
  