* {
    margin: 0;
    padding: 0;
    --text: #0d0402;
    --background: #fefcfb;
    --primary: #de702b;
    --secondary: #deed87;
    --accent: #bae65b;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Inicio do header */
header {
    background-color: var(--text);
    color: #c4c4c4;
}

#header-div {
    margin: 0 20%;
    padding: 1% 0 1.5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.header-options {
    font-size: medium;
    display: flex;
    align-items: center;
    flex: 1;
}

#header-logo {
    flex: 1;
}

.header-options > div {
    flex: 1;
}

.header-options > div > a {
    text-decoration: none;
    color: #c4c4c4;
}

.header-options > div > a:link {
    color: #c4c4c4;
}
.header-options > div > a:visited {
    color: #c4c4c4;
}

.header-options > div > a:hover {
    color: var(--primary);
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: transparent;
    /* Not removed via appearance */
    margin: 0;
}

#div-menu-bars {
    display: none;
}

@media (max-width: 600px) {
    #header-logo {
        display: none;
    }

    #header-div {
        margin: 0 10%;
        padding: 5% 0;
        flex-direction: column;
        align-items: flex-start;
    }

    #header-div:has(input#menu-bars[type="checkbox"]:checked)
        > .header-options {
        display: none;
    }

    #div-menu-bars {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input#menu-bars[type="checkbox"] {
        appearance: none;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 2rem;
        height: 2rem;
        transform: translateY(-0.075em);
        transform: rotate(90deg);
        transition: 0.5s;
        content: url(../../public/svgs/menubars.svg);
    }

    input#menu-bars[type="checkbox"]:checked {
        transform: rotate(0deg);
    }

    .header-options {
        font-size: larger;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-options > div {
        margin-top: 1rem;
    }
}

/* Final do header */

/* Inicio do footer */
footer {
    background-color: var(--text);
    color: #c4c4c4;
}

#footer-div {
    margin: 0 20%;
    padding: 1% 0 1.5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-sociais {
    margin-top: 5%;
    display: flex;
    align-items: center;
    gap: 5%;
}

/* Final do footer */

body {
    font-family: "DM Sans", sans-serif;
    background-color: #9fa86b !important;
}

.titulo {
    text-align: center;
}

.titulo-text {
    text-align: center;
    display: inline-block;
    border-bottom: solid 2px transparent;
}

.cont {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #fefcfb;
    width: 80%;
    padding: 20px 60px 20px 60px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 90%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    display: inline-block;
    border-bottom: solid 2px transparent;
}

img {
    object-fit: cover;
    width: 100%;
    height: 240px;
}

.titulo-text:hover {
    cursor: default;
    border-bottom: solid 2px #de702b;
}

.card:hover .card-title {
    border-bottom: solid 2px #de702b;
}
