* {
  margin: 0;
  padding: 0;
  --text: #0d0402;
  --background: #fefcfb;
  --primary: #de702b;
  --secondary: #deed87;
  --accent: #bae65b;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #9fa86b;
  overflow-x: hidden;
}
